@charset "UTF-8";
/* === COMMON === */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
}

button {
  border: 1px solid transparent;
  border: none;
}

.textStyle {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: var(--text-primary);
}

.textStyle {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: var(--text-primary);
}

:root {
  --color-accent: red;
  --color-txt-main: #757575;
  --color-txt-second: #212121;
  --color-txt-white: #ffffff;
  --color-title: #212121;
  --color-logo-dark: #000000;
  --color-logo-white: #ffffff;
  --color-link-header: #757575;
  --social-color: #afb1b8;
  --social-color-dark: rgba(255, 255, 255, 0.1);
  --client-color: #afb1b8;
  --color-txt-addres: rgba(255, 255, 255, 0.6);
  --bg-main-color: #ffffff;
  --bg-second-color: #f5f4fa;
  --bg-hero-color: #c;
  --bg-footer-color: #2f303a;
  --bg-modal: #ffffff;
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --border-input: rgba(33, 33, 33, 0.2);
  --btn-active-color: teal;
  --btn-overlay-color: rgba(33, 150, 243, 0.9);
  --btn-close-border-color: rgba(0, 0, 0, 0.1);
  --btn-close-ico-color: #000000;
  --btn-filter-bg: #f5f4fa;
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transTemp: 2500ms var(--cubic-function);
  --card-item: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 240px;
  color: var(--color-txt-main);
  background-color: var(--bg-main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.no-padding {
  padding-top: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    outline: 1px solid green;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: 1px solid blue;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    outline: 1px solid tomato;
  }
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  line-height: 1.88; /* 187.5% */
  color: var(--color-txt-white);
  background-color: var(--color-accent);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transTemp);
  transition: background-color var(--transTemp);
  cursor: pointer;
}
.btn:focus, .btn:hover {
  background-color: var(--btn-active-color);
}

.title {
  font-weight: 700;
  color: var(--color-txt-second);
}

.section-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0.84px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.72px;
  color: var(--color-accent);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.78px;
  }
}

.logo__part--dark {
  color: var(--color-logo-dark);
}

.logo__part--light {
  color: var(--color-logo-white);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__item {
  -ms-flex-preferred-size: calc(100% / var(--card-item) - 30px);
      flex-basis: calc(100% / var(--card-item) - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10px;
  margin-left: -10px;
}

.social--dark .social__link {
  color: #ffffff;
  background-color: var(--social-color-dark);
}

.social__item {
  margin-left: 10px;
  margin-top: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-color);
  -webkit-transition: all var(--transTemp);
  transition: all var(--transTemp);
}
.social__link:focus, .social__link:hover {
  color: var(--color-txt-white);
  background-color: var(--color-accent);
}

.social__ico {
  margin: auto;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
  /* ==== >> переход для backdrop <<===== */
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 900px;
          perspective: 900px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0) rotateX(-900deg);
          transform: translate(-50%, -50%) scale(0) rotateX(-900deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  max-width: 450px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1) rotateZ(0deg);
          transform: translate(-50%, -50%) scale(1) rotateZ(0deg);
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  outline: 1px solid red;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0) rotateZ(360deg);
          transform: translate(-50%, -50%) scale(0) rotateZ(360deg);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: var(--bg-main-color);
  border: 1px solid var(--btn-close-border-color);
  border-radius: 50%;
  cursor: pointer;
  color: var(--btn-close-ico-color);
}

.close__ico {
  fill: currentColor;
  margin: auto;
  -webkit-transition: var(--transTemp);
  transition: var(--transTemp);
}
.modal__btn:active .close__ico, .modal__btn:focus .close__ico, .modal__btn:hover .close__ico {
  fill: var(--color-accent);
}

.form {
  text-align: center;
}

.form__title {
  display: block;
  text-align: center;
  font-size: 20px;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}
.form__field + .form__field {
  margin-top: 28px;
}

.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__label:activ {
  outline-color: var(--color-accent);
  border-color: var(--color-accent);
}

.form__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  color: var(--color-txt-main);
}
.form__input:hover {
  cursor: pointer;
  border-color: var(--color-accent);
}

.form__ico {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--color-txt-second);
}
.form__input:hover ~ .form__ico {
  fill: var(--color-accent);
}

.field__name {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--color-txt-main);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
  -webkit-transition: -webkit-transform var(--transTemp);
  transition: -webkit-transform var(--transTemp);
  transition: transform var(--transTemp);
  transition: transform var(--transTemp), -webkit-transform var(--transTemp);
}
.form__input:not(:-moz-placeholder-shown) ~ .field__name {
  transform: translate(-42px, -39px);
}
.form__input:not(:-ms-input-placeholder) ~ .field__name {
  transform: translate(-42px, -39px);
}
.form__input:focus ~ .field__name, .form__input:not(:placeholder-shown) ~ .field__name {
  -webkit-transform: translate(-42px, -39px);
          transform: translate(-42px, -39px);
}

.form__comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.comment__name {
  display: block;
  position: absolute;
  top: 25px;
  left: 16px;
  -webkit-transition: -webkit-transform var(--transTemp);
  transition: -webkit-transform var(--transTemp);
  transition: transform var(--transTemp);
  transition: transform var(--transTemp), -webkit-transform var(--transTemp);
}
.form__input:not(:-moz-placeholder-shown) ~ .comment__name {
  transform: translate(-15px, -44px);
}
.form__input:not(:-ms-input-placeholder) ~ .comment__name {
  transform: translate(-15px, -44px);
}
.form__input:focus ~ .comment__name, .form__input:not(:placeholder-shown) ~ .comment__name {
  -webkit-transform: translate(-15px, -44px);
          transform: translate(-15px, -44px);
}

.form__check {
  margin-top: 30px;
}

.check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
}
.check__label:hover {
  cursor: pointer;
}

.check__svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-txt-second);
  border-radius: 2px;
  background-image: url("../images/full-check.svg");
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}
.check__input:focus + .check__svg {
  border: 2px solid var(--color-accent);
  outline: 3px solid var(--color-txt-second);
}
.check__input:checked + .check__svg {
  border-color: var(--color-accent);
  border-radius: 2px;
  background-color: var(--color-accent);
}

.check__txt {
  margin-left: 8px;
}
@media screen and (max-width: 1199px) {
  .check__txt {
    font-size: 12px;
  }
}

.check__link {
  color: var(--color-accent);
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.form__btn {
  margin-top: 30px;
  padding: 10px 20px;
}
@media screen and (min-width: 320px) {
  .form__btn {
    padding: 10px 52px;
  }
}

.header {
  border-bottom: 2px solid #ececec;
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  z-index: 6;
}
.menu-btn:hover {
  cursor: pointer;
}
.menu-btn .icon-cross {
  display: none;
}
.menu-btn.is-open {
  position: fixed;
}
.menu-btn.is-open .icon-cross {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  background-color: beige;
  width: 100%;
  height: 100%;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
  }
}
.menu-container.is-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-list__item + .nav-list__item {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__item + .nav-list__item {
    margin-left: 50px;
  }
}

.nav-list__link {
  -webkit-transition: var(--transTemp);
  transition: var(--transTemp);
}
@media screen and (max-width: 767px) {
  .nav-list__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    letter-spacing: 0.28px;
    color: var(--color-txt-second);
  }
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    color: var(--color-txt-second);
  }
}
.nav-list__link.current {
  color: var(--color-accent);
}
@media screen and (min-width: 768px) {
  .nav-list__link.current:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent);
  }
}
.nav-list__link:focus, .nav-list__link:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contact__item:first-child {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item + .contact__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 30px;
  }
}

.contact__link {
  -webkit-transition: var(--transTemp);
  transition: var(--transTemp);
}
@media screen and (max-width: 767px) {
  .contact__link {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
    color: var(--color-txt-main);
  }
  .contact__link.contact_tel {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
    color: var(--color-txt-main);
  }
  .contact__link span {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.contact__link:focus, .contact__link:hover {
  color: var(--color-accent);
}

.contact__ico {
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .contact__ico {
    display: none;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--bg-hero-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.2)), to(rgba(0, 0, 255, 0.1))), url(../images/hero/hero-bg-mob.jpg);
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.1)), url(../images/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.2)), to(rgba(0, 0, 255, 0.1))), url(../images/hero/hero-bg-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.1)), url(../images/hero/hero-bg-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.2)), to(rgba(0, 0, 255, 0.1))), url(../images/hero/hero-bg-tabl.jpg);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.1)), url(../images/hero/hero-bg-tabl.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.2)), to(rgba(0, 0, 255, 0.1))), url(../images/hero/hero-bg-tabl@2x.jpg);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.1)), url(../images/hero/hero-bg-tabl@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    max-height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.2)), to(rgba(0, 0, 255, 0.1))), url(../images/hero/hero-bg-pc.jpg);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.1)), url(../images/hero/hero-bg-pc.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.2)), to(rgba(0, 0, 255, 0.1))), url(../images/hero/hero-bg-pc@2mx.jpg);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.1)), url(../images/hero/hero-bg-pc@2mx.jpg);
  }
}

.hero-title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61; /* 161.538% */
  letter-spacing: 1.56px;
  text-transform: uppercase;
  color: var(--color-txt-white);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
  }
}

.hero__btn {
  margin-top: 30px;
  padding: 10px 24px;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

/* ----- FEATURE ----- */
.feature__list {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.feature__item {
  position: relative;
  -webkit-animation-name: rotator;
          animation-name: rotator;
  -webkit-animation-duration: 3250ms;
          animation-duration: 3250ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media screen and (max-width: 767px) {
  .feature__item + .feature__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}
.feature__item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */
  outline: 1px solid green;
}
.feature__item:nth-child(1)::before {
  background-image: url(../images/icons/feature01.svg);
}
.feature__item:nth-child(2)::before {
  background-image: url(../images/icons/feature02.svg);
}
.feature__item:nth-child(3)::before {
  background-image: url(../images/icons/feature03.svg);
}
.feature__item:nth-child(4)::before {
  background-image: url(../images/icons/feature04.svg);
}

.feature__descr {
  padding-top: 30px;
}

.feature__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .feature__subtitle {
    text-align: left;
  }
}

.feature__text {
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-left: -30px;
}

.works__list:hover .works__thumb {
  opacity: 1;
  scale: 1;
  -webkit-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
}

.works-list__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.works__thumb {
  position: relative;
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
  opacity: 0.3;
  scale: 0.8;
  -webkit-transition: all var(--transTemp);
  transition: all var(--transTemp);
}

.works__txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  color: var(--color-txt-white);
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bg-second-color);
  background-color: beige;
}

@media screen and (min-width: 768px) {
  .team-list {
    --card-item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    --card-item: 4;
  }
}

.team-list__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-list__dscr {
  padding: 30px 32px;
  text-align: center;
}

.team-list__title {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-list__txt {
  margin-top: 10px;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-list__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

@media screen and (min-width: 320px) {
  .clients__list {
    --card-item: 2;
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    --card-item: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    --card-item: 6;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  color: var(--client-color);
  border: 1px solid var(--client-color);
  -webkit-transition: color var(--transTemp), scale 100ms var(--cubic-function), border-color var(--transTemp);
  transition: color var(--transTemp), scale 100ms var(--cubic-function), border-color var(--transTemp);
}
.clients__link:focus, .clients__link:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
  scale: 1.03;
}

.clients__ico {
  margin: auto;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer__item {
    margin-top: 60px;
    outline: 1px solid yellow;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item + .footer__item {
    margin-left: 93px;
  }
}
.footer__item strong {
  display: block;
  margin: 0;
  padding: 0;
}

.footer__address {
  margin-top: 20px;
  font-style: inherit;
}

.address__item {
  color: #ffffff;
}
.address__item + .address__item {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__social-box {
  margin-top: 20px;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__subscribe {
    margin-top: 60px;
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-top: 0;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__input {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 15px 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
  }
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
    margin-top: 0;
  }
}

.subscribe__icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */